{% load mptt_tags static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ object_list.get_ancestors.first.name }}</title>
    <link rel="stylesheet" href="{% static 'declarations/style.css' %}" />
</head>
<body>
    <div></div>
    {{ object_list.get_ancestors.first.name }}
    <table class="table">
        <tr>
            <td></td>
            {% for year in years %}<td>{{ year }}</td> {% endfor %}
        </tr>
            {% recursetree object_list %}
                <tr>
                    <td class="border" width="30%">
                        {{ node.name }}
                    </td>
                    {% for file_status in node.get_status %}
                        <td width="7%"><div class="grey sign border">
                            {% if file_status == 'all_files' %}
                                <span class="big">&#9679;</span>
                            {% elif file_status == 'some_files' %}
                                &#9681;
                            {% elif file_status == 'no_files_but_declaration' %}
                                <span class="big">&#9675;</span>
                            {% else %}
                                <span> &nbsp; </span>
                            {% endif %}
                            </div>
                        </td>
                    {% endfor %}
                </tr>
            {% endrecursetree %}
    </table>
</body>
</html>